#!/bin/bash

export LIBRELANE_VENV="$HOME/V/librelane-venv"
export PDK_ROOT="$HOME/V/pdk"
export PDK="sky130A"
export STD_CELL_LIBRARY="sky130_fd_sc_hd"

source "$LIBRELANE_VENV/bin/activate"

export PATH="$LIBRELANE_VENV/bin:$HOME/V/magic-install/bin:$PATH"

export MAGIC="$HOME/V/magic-install/bin/magic"
export KLAYOUT="/usr/bin/klayout"
export YOSYS="/usr/bin/yosys"
